
/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* @end */

@font-face {
	font-weight: 100;
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_100.otf');
	}
	
@font-face {
	font-weight: 900;
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_900.otf');
	}
	
@font-face {
	font-weight: 300;
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_300.otf');
	}

@font-face {
	font-weight: 500;
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_500.otf');
	}

@font-face {
	font-weight: 700;
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_700.otf');
}

@font-face {
	font-weight: 500;
	font-family: museo-slab;
	src: url('../fonts/Museo_Slab_500.otf');
}

@font-face {
	font-weight: 300;
	font-family: museo-slab;
	src: url('../fonts/Museo_Slab_300italic.otf');
}



/* ####### Basic CSS ####### */

body {
	margin: 0;
	padding: 0;
	background-color:#fff;
	font: 16px/1.5 "museo-sans", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 100;
}

a{
	color: #333;
	text-decoration: none;
}

h2{
	margin-bottom: 13px;
	color: #cb4830;
	font-weight: 700;
	font-size: 20px;
}

.clear { clear:both; }
.wrapper { margin:auto; padding:1em; max-width:980px; }

.whoisplanet{
	margin: auto;
	padding: 35px 0;
	width: 100%;
	color: #cb4830;
	text-align: center;
	font-weight: 500;
	font-size: 24px;
}

.ps_is{
	color: #4d595f;
	font-weight: 100;
	font-size: 32px;
}

.happyclients{
	width: 100%;
	background: #d1d8db;
}

.clienthdr{
	margin: auto;
	padding: 45px 0;
	width: 100%;
	width: 200px;
	color: #4c595f;
	text-align: center;
	font-size: 24px;
}

ul.clients{
	margin: auto;
	width: 778px;
	width: 742px;
	text-align: center;
	
}
ul.clients2{
	margin: auto;
	padding: 25px 0 45px;
	width: 590px;
	width: 623px;
	text-align: center;
}

ul.clients li, ul.clients2 li{
	display: inline;
	padding: 0 50px 0 0;
}

ul.clients li:nth-child(4),ul.clients2 li:nth-child(4) {
    padding: 0;   
}

header {
	background: #cb4830;
	text-align: right;
}

header img { float:left; }

header nav ul {
	float:right;
	margin: 0;
	list-style-type: none;
}

header nav ul li {
	display: inline;
	margin-right: 1em;
}

header nav ul li:first-child { margin-left: 0; }

header nav ul li ul { display: none; }

section { background-color:#fff; }

nav a {
	padding: 1em;
	color: #fff;
	text-decoration:none;
}

nav a:hover { 
	background: #252525;
	background: rgba(255,255,255,0.1); 
}

a, a:hover {
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	-o-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

section, header {
display: block;
}


/* ###########  About Us ######### */

.about{
	margin: auto;
	max-width: 980px;
	width: 74%;
}

.about h1{
	padding: 40px;
	color: #999;
	text-align: center;
	font-size: 1.7em;
}

.leaders{
	overflow: auto;
	padding-bottom: 70px;
	width: 100%;
	background: #f2f6f7;
}

.leaders h1{
	padding: 60px 0 30px;
	color: #999;
	text-align: center;
	font-size: 1.7em;
}

.leader2{
	overflow: auto;
	margin: 40px auto;
	max-width: 560px;
	width: 50%;
}

.leader2 figure{
	display: block;
	float: left;
	width: 50%;
}

.leader2 figure img, .leader3 figure img, figcaption, .socials{
	display: block;
	margin: auto;
	max-width: 280px;
	width: 90%;
}

figcaption{
	padding: 6px 0;
	font-size: .7em;
}


.socials{
	height: 20px;
}

.socials > *{
	display: inline-block;
	float: left;
	margin-right: 12px;
	width: 20px;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.email{
	background-image: url(../images/mail.png);
}

.linkedIn{
	background-image: url(../images/linkedIn.png);
}

.twitter{
	background-image: url(../images/twitter.png);
}

.skype{
	background-image: url(../images/skype.png);
}

.leader3{
	clear: both;
	margin: 40px auto;
	padding: 30px 0;
	max-width: 840px;
	width: 75%;
}

.leader3 figure{
	display: block;
	float: left;
	width: 33.33%;
}


/* ####### Work Thumbs ####### */

.pattern{
	overflow: auto;
	padding-bottom: 60px;
}

.pattern h1{
	padding-top: 40px;
	color: #999;
	text-align: center;
	font-size: 1.7em;
}

.work-list{
	margin: 30px auto 70px;
	max-width: 980px;
	list-style: none;
}

.work-list li{
	float: left;
	padding: 0 0 60px 0;
	width: 33.333%;
}

.work-list li img{
	display: block;
	margin: auto;
	width: 86%;
	max-width: 280px;
	border: 1px solid #ccc;
}

.work-list p{
	width: 86%;
	margin: auto;
	padding-top: 12px;
	color: #333;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
}


/* ####### Footer ####### */

footer{
	clear: both;
	overflow: auto;
	min-height: 180px;
	width: 100%;
	background-color:#4d595f;
	color:#d2d9db;
	font-size: .9em;
}

.shoe{ 
	 margin:auto;
	 max-width:1024px; 
}

.connect{
	float: left;
	width: 33.333%;
}

.connect p, address{
	margin: 40px 0 0 50px;
}

.ftrtitle{
	font-weight: 700;
	line-height: 2.5em;
	}

.phone{
	color: #fff;
	text-decoration: none;
	font:  "museo-sans", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 100;
}

.location{
	float: left;
	min-height: 180px;
	width: 66.666%;
	background-color: #3a4449;
}

address{
	display: block;
	float: left;
	min-height: 100px;
	width: 45%;
}

.geofun{
	position: relative;
	display: block;
	float: left;
	margin-top: 20px;
	width: 40%;
	height: 136px;
	background-image: url(../images/georgia.png) ;
	background-position: left top;
	background-size: contain;
	background-repeat: no-repeat;
}

.geoOne{
	float: left;
	margin: 0 0 0 90px;
	width: 100px;
}


.grayCircle{
	position: absolute;
	top: -3px;
	left: -5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #283136;
	opacity: .35;
}

.orangeCircle{
	position: absolute;
	top: 7px;
	left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #cb4830;
}

.findOut{
	float: left;
	clear: both;
	margin: 15px 0 0 90px;
	padding: 3px 6px;
	border: 1px solid #999;
	background-color: #c9d0d2;
	cursor: pointer;
}

.milesAway{
	display: none;
	float: left;
	margin: -20px 0 0 90px;
}

h6.miles{
	font-weight: 900;
	font-size: 3em;
	line-height: .9em;
}

.comeVisit{
	float: left;
	clear: both;
	margin: 15px 0 0 0;
	padding: 3px 6px;
	border: 1px solid #999;
	background-color: #c9d0d2;
	cursor: pointer;
} 

.bottom {
	padding: 20px 0;
	background-color:#6b787e;
}

.copywrite {
	clear: both;
	margin:0 auto;
	max-width: 980px;
	color:#4d595f;
	color:#d2d9db;
	text-align: center;
	text-align:left;
	font-size:12px;
	font-size:12px;
}


/* End Footer */



/* ##### Case study pages images and content ###### */

.hero{
	overflow: hidden;
	margin: auto;
	padding: 0;
	max-width: 1478px;
}

figure.bigimg {
	margin: 0;
	padding-top: 0%;  /* slope */
	height: 671px;  /* start height */
    background-position: center;  /* Internet Explorer 7/8 */
	background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
}

.ecolab { background: url(../images/ecolab_cs.jpg) #fff; }
.coke { background: url(../images/coke_cs.jpg) #fff; }
.coke .hero_copy p, .coke .cs_title, .leonisa .hero_copy p, .depot .cs_title { color:#fff; }
.leonisa { background: url(../images/leonisa_cs.jpg) #fff;}
.leonisa .hero_copy p{ font-weight: 100;}
.depot{ background: url(../images/homeDepot_cs.jpg) #fff; }
.depot .hero_copy p{color: #000; font-weight: 100;}

.hero_copy p{
	margin: auto;
	padding: 3% 0;
	width: 74%;
	color: #cb4830;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
}

.cs_title{
	color: #4d595f;
	font-weight: 100;
	font-size: 32px;
}

/* Navigation Buttons */

button.next, button.prev{
	padding: 0;
	width: 250px;
	height: 40px;
	border: none;
	background-color: rgba(77,88,95,.8);
	color: white;
	font-size: 1.2em;
	cursor: pointer;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s; 
	-o-transition: all 1s;
	transition: all 1s;
}

.arrow{
	display: block;
	width: 10px;
	height: 100%;
	background-color: rgba(77,88,95,1);
	font-weight: 100;
	font-size: 1.3em;
	line-height: 1.5em;
}

button.next .arrow, button.next p{
	float: left;
}

button.next .arrow{
	padding: 0 20px 0 10px;
}

button.prev .arrow, button.prev p{
	float: right;
}

button.prev p{
	text-align: right;
}

button.prev .arrow{
	padding: 0 20px 0 10px;
}

button p{
	display: block;
	padding: 10px 15px;
	width: 170px;
	line-height: 1em;
}

button.next{
	position: absolute;
	top: 40%;
	right: -210px;
}

button.next:hover{
	right: -10px;
}

button.prev{
	position: absolute;
	top: 40%;
	left: -210px;
}

button.prev:hover{
	left: -25px;
}



.ecolabcs, .cokecs, .leonisacs, .depotcs {
	margin: auto;
	padding-bottom: 50px;
	max-width: 980px;
	width: 74%;
}

.copyfull, .copyfull img{
	width: 100%;
}


.copyleft{
	float: left;
	margin-bottom: 50px;
	padding-top: 2% ;
	padding-right: 2%;
	width: 38%;
}

.copyleft img, .copyleftWide img,.copyfull img{
	width: 100%;
} 

.copyleftWide{
	float: left;
	margin-bottom: 50px;
	padding-top: 2%;
	width: 60%;
}

.copyright{
	float: right;
	padding-top: 2% ;
	width: 60%;	
}

.copyright img{
	padding: 0 0 15% 8% ;
	max-width: 540px;
	width: 100%;
}

.copyrightNarrow{
	float: right;
	padding-top: 2% ;
	width: 30%;	
}

.copyhalf {
	float:left;
	padding:5% 0;
	width:50%;
}

.copyhalf img {
	width:90%;
}

.blockquote {
	padding:10% 0 10% 10%;
	width:80%;
	border-top:solid 5px #d2d9db;
	border-bottom:solid 5px #d2d9db;
	color:#cb4830;
	font-weight: 500;
	font-size:30px;
	font-family: museo-slab;
}

.blockquote span {
	float:right;
	color:#4d595f;
	font-weight: 300;
	font-size:16px;
	font-family: museo-slab;
}

.pushRight{
	margin: -50px 0 50px 50px;
}

/* ####### Mean Menu ####### */

a.meanmenu-reveal {
display: none;
}

.mean-container .mean-bar {
position: relative;
z-index: 999999; 
float: left;
width: 100%;
background: #cb4830;
}
.mean-container a.meanmenu-reveal {
position: absolute;
top: 0;
right: 0;
display: block;
padding: 13px 13px 11px 13px;
width: 22px;
height: 22px;
color: #fff;
text-decoration: none;
text-indent: -9999em;
font-size: 16px;
line-height: 22px;
cursor: pointer;
}
.mean-container a.meanmenu-reveal span {
display: block;
margin-top: 3px;
height: 3px;
background: #fff;
}
.mean-container .mean-nav { 
/* float: left; */
padding:1em;
/* width:100%; */
background: #cb4830;
}
.mean-container .mean-nav ul {
margin: 0;
padding: 10px 0 0 0;
width: 100%;
list-style-type: none;
}
.mean-container .mean-nav ul li {
position: relative;
float: left;
width: 95%;
border-top:1px solid rgba(0,0,0,.1);
border-bottom:1px solid rgba(255,255,255,.2);
}
.mean-container .mean-nav ul li a {
display: block;
float: left;
margin: 0;
padding: 1em 5%;
width: 90%;
color: #fff;
text-align: left;
text-align:center;
text-decoration: none;
text-transform: uppercase;
}

.mean-nav ul li.first { border-top:none; }
.mean-nav ul li.last { border-bottom:none; }

.mean-container .mean-nav ul li a:hover { 
background: #252525;
background: rgba(255,255,255,0.1); 
}
.mean-container .mean-nav ul li a.mean-expand {
position: absolute;
top: 0;
right: 0;
z-index: 2;
padding: 12px !important;
width: 26px;
height: 26px;
border: none !important;
text-align: center;
font-weight: 700;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
background: none;
}
.mean-container .mean-push { 
float: left;
clear: both;
margin: 0;
padding: 0;
width: 100%; 
}
.mean-nav .wrapper {
margin: 0;
padding: 0;
width: 100%;
}


/* media queries begin here */

@media screen and (max-width: 450px){
	.work-list li{
		width: 100%;
	}
	
	.work-list li img{
		width: 70%;
	}
	
	ul.clients li img{
		width: 40%;
	}
	ul.clients2 li img{
		width: 30%;
	}
	
	.copyhalf img{
		margin-top: 50px;
	}
	
	.blockquote{
		font-size: 24px;
	}

.work-list p{
	width: 70%;
	font-size: 14px;
	margin: auto;
}	
}


@media screen and (max-width: 700px){
	
	.whoisplanet{
		width: 90%;
		font-size: 18px;
	}
	
	.ps_is{
		font-size: 24px;
	}
	
	.location, .geofun, .connect{
		width: 100%;
	}
	
	.connect p, address p{
		margin: 20px auto 30px;
		text-align: center;
	}
	
	address{
		margin: auto;
		width: 100%;
	}
	
	.geofun{
		float: none;
		clear: both;
		margin: 40px auto;
		width: 180px;
		background-position: left center;
	}

}

@media screen and (max-width: 768px) {

.whoisplanet{
	width: 90%;
}
.clienthdr{
	padding: 20px 0;
	font-size: 20px;	
}


ul.clients, ul.clients2{
	padding: 0 0 20px 0;
	width: 100%;
	
}

ul.clients li, ul.clients2 li{
	display: inline;
	padding: 0 20px 0 0;
}

ul.clients li:nth-child(4),ul.clients2 li:nth-child(4) {
    padding: 0;   
}
ul.clients2 li:nth-child(1) {
    padding: 0 30px 0 0;   
}

.hero{
	max-width: 768px;
}

figure.bigimg{
	height: 500px;  /* start height */
}

.hero_copy p{
	padding-top: 4%;
	width: 75%;
	font-size: 20px;
	line-height: 24px;
}

.copyleft, .copyleftWide, .copyhalf{
	float: left;
	padding-top: 2% ;
	width: 100%;
}

.copyright, .copyrightNarrow{
	float: left;
	clear: left;
	padding-top: 0;
	width: 100%;
}

.copyright img, .copyleft img, .copyrightNarrow img, .copyleftWide img, .copyhalf img{
	padding: 0;
	width: 100%;
}

.pullUp50{
	margin-top: -50px;
}

.pushBottom{
	padding-bottom: 50px;
}

.pushRight{
	margin: 10px 0 50px 0;
}

button.next, button.prev{
	top: 30%;
}

.leader2, .leader3{
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

.leader2 figure, .leader3 figure{
	float: none;
	margin: 5% 10%;
	width: 80%;
}

.leader3{
	margin-top: -5%;
}

button.next:hover{
	right: -210px;
}

button.prev:hover{
	left: -210px;
}

}






