
/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @end */

@font-face {
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_100.otf');
	font-weight: 100;
	}
	
@font-face {
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_900.otf');
	font-weight: 900;
	}
	
@font-face {
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_300.otf');
	font-weight: 300;
	}

@font-face {
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_500.otf');
	font-weight: 500;
	}

@font-face {
	font-family: museo-sans;
	src: url('../fonts/MuseoSans_700.otf');
	font-weight: 700;
	}



/* ####### Basic CSS ####### */

body {
	margin: 0;
	padding: 0;
	font: 16px/1.5 "museo-sans", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 100;
	background-color:#fff;
}

.clear { clear:both; }
.wrapper { max-width:980px; margin:auto; padding:1em; }

.happyclients{
	width: 100%;
	background: #d1d8db;
}

.clienthdr{
	width: 200px;
	margin: auto;
	color: #4c595f;
	text-align: center;
	padding: 45px 0;
}

ul.clients{
	width: 742px;
	margin: auto;
	text-align: center;
	
}
ul.clients2{
	width: 623px;
	margin: auto;
	padding: 25px 0 45px;
	text-align: center;
}

ul.clients li, ul.clients2 li{
	display: inline;
	padding: 0 50px 0 0;
}

ul.clients li:nth-child(4),ul.clients2 li:nth-child(4) {
    padding: 0;   
}

header {
	text-align: right;
	background: #cb4830;
}

header img { float:left; }

header nav ul {
	float:right;
	margin: 0;
	list-style-type: none;
}

header nav ul li {
	display: inline;
	margin-right: 1em;
}

header nav ul li:first-child { margin-left: 0; }

header nav ul li ul { display: none; }

section { background-color:#fff; }

nav a {
	color: #fff;
	text-decoration:none;
	padding: 1em;
}

nav a:hover { 
	background: #252525;
	background: rgba(255,255,255,0.1); 
}

a, a:hover {
	-o-transition: background-color 0.25s ease-in;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

section, header {
display: block;
}

/* ####### Footer ####### */

footer{
	width: 100%;
	min-height: 180px;
	background-color:#4d595f;
	color:#d2d9db;
	overflow: auto;
	font-size: .9em;
	clear: both;
}

.shoe{
	 max-width:1024px; 
	 margin:auto; 
}

.connect{
	width: 33.333%;
	float: left;
}

.connect p, address{
	margin: 40px 0 0 50px;
}

.ftrtitle{
	font-weight: 700;
	line-height: 2.5em;
	}

.phone{
	font:  "museo-sans", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 100;
	color: #fff;
	text-decoration: none;
}

.location{
	width: 66.666%;
	min-height: 180px;
	background-color: #3a4449;
	float: left;
}

address{
	width: 45%;
	min-height: 100px;
	display: block;
	float: left;
}

.geofun{
	float: left;
	width: 40%;
	height: 136px;
	margin-top: 20px;
	display: block;
	background-image: url(../images/georgia.png) ;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
}

.geoOne{
	float: left;
	margin: 0 0 0 90px;
	width: 100px;
}


.grayCircle{
	position: absolute;
	background-color: #283136;
	opacity: .35;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	left: -5px;
	top: -3px;
}

.orangeCircle{
	position: absolute;
	background-color: #cb4830;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	left: 5px;
	top: 7px;
}

.findOut{
	float: left;
	clear: both;
	margin: 15px 0 0 90px;
	background-color: #c9d0d2;
	padding: 3px 6px;
	cursor: pointer;
	border: 1px solid #999;
}

.milesAway{
	display: none;
	float: left;
	margin: -20px 0 0 90px;
}

h6.miles{
	font-size: 3em;
	line-height: .9em;
	font-weight: 900;
}

.comeVisit{
	float: left;
	clear: both;
	margin: 15px 0 0 0;
	background-color: #c9d0d2;
	padding: 3px 6px;
	cursor: pointer;
	border: 1px solid #999;
} 

.copywrite {
	font-size:12px;
	color:#d2d9db;
	margin: 20px auto;
	clear: both;
	max-width: 980px;
	text-align: center;
}


/* End Footer */



/* Case study pages images and content */

.hero{
	max-width: 1478px;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

figure.bigimg{
	margin: 0;
	padding-top: 0%;  /* slope */
	height: 671px;  /* start height */
	background: url(../images/ecolab_cs.jpg) #fff;
	background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}

.hero_copy p{
	font-size: 24px;
	font-weight: 700;
	width: 74%;
	padding: 3% 0;
	margin: auto;
	color: #cb4830;
	line-height: 34px;
}

.cs_title{
	color: #4d595f;
	font-weight: 100;
	font-size: 32px;
}

/* Navigation Buttons */

button.next, button.prev{
	background-color: rgba(77,88,95,.8);
	border: none;
	color: white;
	font-size: 1.2em;
	padding: 0;
	height: 40px;
	width: 250px;
	cursor: pointer;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.arrow{
	background-color: rgba(77,88,95,1);
	font-size: 1.3em;
	height: 100%;
	line-height: 1.5em;
	width: 10px;
	font-weight: 100;
	display: block;
}

button.next .arrow, button.next p{
	float: left;
}

button.next .arrow{
	padding: 0 20px 0 10px;
}

button.prev .arrow, button.prev p{
	float: right;
}

button.prev p{
	text-align: right;
}

button.prev .arrow{
	padding: 0 20px 0 10px;
}

button p{
	display: block;
	padding: 10px 15px;
	line-height: 1em;
	width: 170px;
}

button.next{
	position: absolute;
	top: 40%;
	right: -210px;
}

button.next:hover{
	right: -10px;
}

button.prev{
	position: absolute;
	top: 40%;
	left: -210px;
}

button.prev:hover{
	left: -25px;
}



.ecolabcs{
	width: 74%;
	margin: auto;
}
.copyfull{
	width: 100%;
}

.copyleft{
	width: 40%;
	float: left;
	padding-top: 2% ;
	margin-bottom: 50px;
}

.copyright{
	width: 60%;
	float: right;
	padding-top: 2% ;
	
}

.copyright img{
	max-width: 540px;
	width: 100%;
	padding-left: 8% ;
}

/* ####### Mean Menu ####### */

a.meanmenu-reveal {
display: none;
}

.mean-container .mean-bar { 
float: left;
width: 100%;
position: relative;
background: #cb4830;
z-index: 999999;
}
.mean-container a.meanmenu-reveal {
width: 22px;
height: 22px;
padding: 13px 13px 11px 13px;
position: absolute;
top: 0;
right: 0;
cursor: pointer;
color: #fff;
text-decoration: none;
font-size: 16px;
text-indent: -9999em;
line-height: 22px;
display: block;
}
.mean-container a.meanmenu-reveal span {
display: block;
background: #fff;
height: 3px;
margin-top: 3px;
}
.mean-container .mean-nav { 
/*float: left;*/
background: #cb4830;
padding:1em;
/*width:100%;*/
}
.mean-container .mean-nav ul {
padding: 10px 0 0 0;
margin: 0;
width: 100%;
list-style-type: none;
}
.mean-container .mean-nav ul li {
position: relative;
float: left;
width: 95%;
border-bottom:1px solid rgba(255,255,255,.2);
border-top:1px solid rgba(0,0,0,.1);
}
.mean-container .mean-nav ul li a {
display: block;
width: 90%;
float: left;
padding: 1em 5%;
margin: 0;
text-align: left;
color: #fff;
text-decoration: none;
text-transform: uppercase;
text-align:center;
}

.mean-nav ul li.first { border-top:none; }
.mean-nav ul li.last { border-bottom:none; }

.mean-container .mean-nav ul li a:hover { 
background: #252525;
background: rgba(255,255,255,0.1); 
}
.mean-container .mean-nav ul li a.mean-expand {
width: 26px;
height: 26px;
border: none !important;
padding: 12px !important;
text-align: center;
position: absolute;
right: 0;
top: 0;
z-index: 2;
font-weight: 700;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
background: none;
}
.mean-container .mean-push { 
float: left;
width: 100%;
padding: 0;
margin: 0;
clear: both; 
}
.mean-nav .wrapper {
width: 100%;
padding: 0;
margin: 0;
}


/* media queries begin here */

@media screen and (max-width: 700px){
	
	.location, .geofun, .connect{
		width: 100%;
	}
	
	.connect p, address p{
		text-align: center;
		margin: 20px auto 30px;
	}
	
	address{
		margin: auto;
		width: 100%;
	}
	
	.geofun{
		float: none;
		width: 180px;
		clear: both;
		margin: 40px auto;
		background-position: left center;
	}

}

@media screen and (max-width: 768px) {

ul.clients, ul.clients2{
	width: 100%;
	
}

ul.clients li, ul.clients2 li{
	display: inline;
	padding: 0 20px 0 0;
}

ul.clients li:nth-child(4),ul.clients2 li:nth-child(4) {
    padding: 0;   
}

.hero{
	max-width: 768px;
}

figure.bigimg{
	height: 500px;  /* start height */
}

.hero_copy p{
	font-size: 20px;
	width: 75%;
	padding-top: 4%;
	line-height: 24px;
}

.copyleft{
	width: 100%;
	float: left;
	padding-top: 2% ;
	margin-bottom: 50px;
}

.copyright{
	width: 100%;
	float: left;
	clear: left;
	
}

.copyright img{
	width: 100%;
	padding: 4% 0;
}

button.next, button.prev{
	top: 30%;
}

}


